<!-- fav icon -->
<link rel="icon" type="image/png" href="../image/logo.png" />

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap" rel="stylesheet">

<!-- icon -->
<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- semantic ui -->
<link rel="stylesheet" type="text/css" href="../semantic.min.css">
<script src="../semantic.min.js"></script>

<!-- custom -->
<link rel="stylesheet" type="text/css" href="../index.css">
<script src="../js/index.js"></script>