body {
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    font-family: 'Sarabun', sans-serif;
}

.quote.stripe.segment .grid .column {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.ui.vertical.segment.hero-detail-background {
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    font-family: 'Sarabun', sans-serif;
    z-index: 10;
}

.ui.secondary.menu {
    min-height: 80px;
}

.choose-your-hero {
    font-size: 3vw;
    font-weight: 500;
}

.choose-your-hero.description {
    font-size: 1.5vw;
}

.filterbox {
    border: 1px solid #11111190;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

.herolist {
    width: 14.5em;
}


/* Shine effect*/


/* Shine */

.hover14 figure {
    position: relative;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: none;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover14 figure:hover::before {
    display: block;
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}