<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>DotA | Hero detail</title>

    <%- include('../partials/head.ejs') %>

        <!--  custom for detail page -->
        <link rel="stylesheet" type="text/css" href="../detail.css">
</head>


<body class="pushable" data-new-gr-c-s-check-loaded="14.1060.0" data-gr-ext-installed="">
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui vertical masthead segment hero-detail-background">

            <div class="ui container">
                <div class="ui large secondary menu inverted">
                    <a href="/" class="item">
                        <img style="min-width:200px;min-height:50px;object-fit: contain;" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png">
                    </a>
                    <div class="left menu">
                        <a class=" item">
                            เกม
                        </a>
                        <a class="item">
                            ข่าวสาร
                        </a>
                        <a class="item">
                            อีสปอร์ส
                        </a>
                        <button class="ui yellow  basic button item" href="/fav-hero">My favourite hero</button>

                    </div>

                    <div class="right item">
                        <a class="ui inverted button">เล่นฟรี</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui text container">
                <h3 class="ui header">My favourite Hero</h3>

                <div class="ui link cards">
                    <% for(var i=0; i < heroinfoArr.length; i++) { %>
                        <% for(var j=0; j < heroinfoArr[i].length; j++) { %>

                            <div class="card">
                                <a href="http://localhost:8080/hero/ <%=heroinfoArr[i][j].id %>">
                                    <div class="image">
                                        <img src="<%=heroinfoArr[i][j].img %>" style="width: -webkit-fill-available;">
                                    </div>
                                    <div class="content">
                                        <div class="header">
                                            <%=heroinfoArr[i][j].localized_name %>
                                        </div>
                                        <div class="meta">
                                            <a>
                                                <%=heroinfoArr[i][j].attack_type %>
                                            </a>
                                        </div>
                                        <div class="description">
                                            <%=heroinfoArr[i][j].roles %>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <% } %>
                                <% } %>
                </div>

            </div>
        </div>


    </div>


</body>

</html>
<style type="text/css">
    .masthead.segment {
        min-height: 0px !important;
    }
</style>