<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>DotA | Hero detail</title>

    <%- include('../partials/head.ejs') %>

        <!--  custom for this page -->
        <link rel="stylesheet" type="text/css" href="../detail.css">
</head>


<body class="pushable" data-new-gr-c-s-check-loaded="14.1060.0" data-gr-ext-installed="">

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui vertical masthead segment hero-detail-background">

            <div class="ui container">
                <div class="ui large secondary menu inverted">
                    <a href="/" class="item">
                        <img style="min-width:200px;min-height:50px;object-fit: contain;" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png">
                    </a>
                    <div class="left menu">
                        <a class=" item">
                            เกม
                        </a>
                        <a class="item">
                            ข่าวสาร
                        </a>
                        <a class="item">
                            อีสปอร์ส
                        </a>
                        <a class="item" href="/fav-hero">
                            <button class="ui yellow  basic button item">My favourite hero</button>
                        </a>
                    </div>

                    <div class="right item">
                        <a class="ui inverted button">เล่นฟรี</a>
                    </div>
                </div>
            </div>

            <div class="ui vertical stripe segment ">
                <div class="ui middle aligned stackable grid container ">
                    <div class="row">
                        <div class="eight wide column ">
                            <div class="ui labeled button" onclick="add_fav()" id="hero-id" hero="<%=data.result.data.heroes[0].id%>" tabindex="0" style="padding: 1em 0em;">
                                <div class="ui red button">
                                    <span class="material-symbols-outlined">
                                        star
                                    </span>
                                </div>
                                <p class="ui basic red left pointing label">
                                    เพิ่มในฮีโร่ที่ชอบ
                                </p>
                            </div>
                            <h1 style="color: #FFFFFF;font-size: 5em;">
                                <%=heroname%>
                            </h1>
                            <p style="height: 10em;overflow: scroll;color: #FFFFFF;">
                                <%=data.result.data.heroes[0].bio_loc%>
                            </p>
                            <h4 class="ui header " style="color: #FFFFFF;">ระยะการโจมตี</h4>
                            <p style="color: #FFFFFF;">
                                <%=data.result.data.heroes[0].attack_range%>
                            </p>
                        </div>
                        <div class=" six wide right floated column ">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/hqAauanvEew?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe quote segment inverted">
            <div class="ui equal width stackable internally celled grid ">
                <div class="row">
                    <div class="column">
                        <div class="ui two column centered grid" style="padding:0px">
                            <div class="column">
                                <img class="ui small left floated image" src="https://semantic-ui.com/images/wireframe/image.png">
                            </div>
                            <div class="column">
                                <div class="ui list inverted">
                                    <div class="item">
                                        <img class="ui avatar image" src="../image/hero_strength.png">
                                        <div class="content ">
                                            <div class="header">
                                                <%=data.result.data.heroes[0].str_base%>
                                                    <span style="color:#999 ;"> +
                                                    <%=data.result.data.heroes[0].str_gain%></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="../image/hero_agility.png">
                                        <div class="content">
                                            <div class="header">
                                                <%=data.result.data.heroes[0].agi_base%>
                                                    <span style="color:#999 ;"> +
                                                    <%=data.result.data.heroes[0].agi_gain%></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="../image/hero_intelligence.png">
                                        <div class="content">
                                            <div class="header">
                                                <%=data.result.data.heroes[0].int_base%>
                                                    <span style="color:#999 ;"> +
                                                    <%=data.result.data.heroes[0].int_gain%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="ui center aligned header inverted">
                            <div class="content">
                                <div class="sub header">ค่าสถานะ</div>
                            </div>
                        </h2>
                    </div>

                    <div class="column ">

                        <div class="ui three column centered grid" style="padding:0px">
                            <div class="column">
                                <div class="ui list">
                                    <div class="header">ตัวแคร์รี</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">ตัวหยุด</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">ตัวหนี</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui list">
                                    <div class="header">ตัวซัพพอร์ต</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">ตัวป่า</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">ตัวดัน</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui list">
                                    <div class="header">ตัวนูค</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">ตัวยืน</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header">ตัวเปิด</div>
                                    <div class="item">
                                        <div class="content">
                                            <div class="ui teal tiny progress" data-percent="74">
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h2 class="ui center aligned header inverted">
                            <div class="content">
                                <div class="sub header">ค่าสถิติ</div>
                            </div>
                        </h2>

                    </div>

                    <div class="column">
                        <div class="ui three column centered grid" style="padding:0px">
                            <div class="column">
                                <div class="ui list">
                                    <div class="header">การโจมตี</div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_damage.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].damage_min%> -
                                                    <%=data.result.data.heroes[0].damage_max%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_attack_time.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].attack_rate%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_attack_range.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].attack_range%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_projectile_speed.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].projectile_speed%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui list">
                                    <div class="header">การป้องกัน</div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_armor.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].armor%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_attack_time.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].magic_resistance%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui list">
                                    <div class="header">การเคลื่อนที่</div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_movement_speed.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].movement_speed%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_turn_rate.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].turn_rate%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="ui avatar image" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_vision.png">
                                        <div class="content">
                                            <div class="description" style="color: #ffffff;">
                                                <%=data.result.data.heroes[0].sight_range_day%> /
                                                    <%=data.result.data.heroes[0].sight_range_night%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="ui center aligned header inverted">
                            <div class="content">
                                <div class="sub header">ค่าสถิติ</div>
                            </div>
                        </h2>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>

</html>