<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DotA | Hero list</title>

    <%- include('./../partials/head.ejs') %>
</head>

<body>
    <header>
        <div class="ui secondary menu inverted">
            <a href="/" class="item">
                <img style="min-width:200px;min-height:50px;object-fit: contain;" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png">
            </a>
            <div class="left menu">
                <a class=" item">
                    เกม
                </a>
                <a class="item">
                    ข่าวสาร
                </a>
                <a class="item">
                    อีสปอร์ส
                </a>
                <a class="ui item" href="/fav-hero">
                    <button class="ui yellow  basic button item">My favourite hero</button>
                </a>
            </div>

            <div class="right menu">
                <a class="ui item">
                    <button class="ui inverted button item">เล่นฟรี</button>
                </a>
            </div>
        </div>
    </header>

    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div style="text-align: center;color: #FFFFFF;">
                <h2 class="choose-your-hero">เลือกฮีโร่ของคุณ</h2>
                <p class="choose-your-hero description">ไม่ว่าจะเป็นนักเวทจอมอุบายไปจนถึงอสูรดุร้ายและอันธพาลเจ้าเล่ห์ กลุ่มฮีโร่ของ Dota 2 นั้นมีขนาดใหญ่โตมโหฬารและหลากหลายไร้ขีดจำกัด ปลดปล่อยความสามารถน่าทึ่งและสกิลอัลติเมททำลายล้างเพื่อไปสู่ชัยชนะ
                </p>
            </div>
        </div>

        <div class="ui container" style="padding:4em 0em ;">
            <div class="ui stackable inverted divided equal height stackable grid filterbox">
                <div class="two wide column">
                    <p class="ui inverted header">กรองฮีโร่</p>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">สาย</h4>
                    <div class="ui Mini images">
                        <img class="ui image" src="image/herogrid/filter-str-active.png">
                        <img class="ui image" src="image/herogrid/filter-agi-active.png">
                        <img class="ui image" src="image/herogrid/filter-int-active.png">
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">ความยาก</h4>
                    <div class="ui Mini images">
                        <img class="ui image" src="image/herogrid/filter-diamond.png">
                        <img class="ui image" src="image/herogrid/filter-diamond.png">
                        <img class="ui image" src="image/herogrid/filter-diamond.png">
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui input">
                        <input type="text" placeholder="Search...">
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container" style="padding:4em 0em ;">
            <div class="ui stackable inverted  equal height stackable grid">
                <% for(var i=0; i < data.length; i++) { %>
                    <a class="three wide column  hover14" href="/hero/<%=data[i].id %>">
                        <figure>
                            <img class="herolist " src="<%=data[i].img %>">
                            <span style="color:#FFFFFF;font-weight: 600;"><%=data[i].localized_name %></span>
                        </figure>
                    </a>
                    <% } %>

            </div>
        </div>
    </div>



</body>

</html>